@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
@model birthreg.Models.Parent

<h2>Add Parent</h2>
<hr />
<div class="row flex-fill">
    <div class="col-md-4">
        <form asp-action="AddParent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherPhoneNumber" class="control-label"></label>
                <input asp-for="FatherPhoneNumber" class="form-control" />
                <span asp-validation-for="FatherPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherPhoneNumber" class="control-label"></label>
                <input asp-for="MotherPhoneNumber" class="form-control" />
                <span asp-validation-for="MotherPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
